asgiref==3.8.1
channels==4.2.0
cloudinary==1.42.2
daphne==4.1.2
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-redis==5.4.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.2
gunicorn==23.0.0
mutagen==1.47.0
protobuf==5.29.4
psycopg2==2.9.10
PyJWT==2.9.0
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
python-dateutil==2.9.0
jsonrpcserver